body {
  background-color: white;
}

#intro {
  padding-top: 4%;
  text-align: justify;
}

h1 {
  text-align: center;
  padding-bottom: 4%;
  font-weight: bold;

}

h3 {
  padding-bottom: 3%;
  font-weight: bold;
}

label {
  font-size: 150%;
  font-weight: bold;
}

#btn_posact {
  margin-left: 5%;
}

#formulario {
padding-top: 30%;
}
.error_p {
  color:rgba(221, 8, 8, 1);
  padding-left: 11%;
  font-weight: bolder;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map-canvas {
        height: 100%;
        width: 50%;
      }
      #content-pane {
        float:right;
        width:48%;
        overflow-y: auto;
        height: 100%;
      }
      #outputDiv > div:nth-child(n+2){
         border-top:1px dotted silver;
      }
      #outputDiv code{
        cursor:pointer;
        color:#fff;
      }

code2 {
	display: none;
}

#img_publicar{
	padding-top: 40%;
}

#boton_publicar {
	margin-top:4%;
}

