body {
  background-image: url("../imagenes/fondo3.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;

  color: black;

}

#intro {
  padding-top: 4%;
  text-align: justify;
}

h1 {
  text-align: center;
  padding-bottom: 4%;
  font-weight: bold;

}

h3 {
  padding-bottom: 3%;
  font-weight: bold;
}

label {
  font-size: 150%;
  font-weight: bold;
}

#btn_posact {
  margin-bottom: 3%;
}

#formulario_buscar {
  margin-top: 3%;
}

.error_p {
  color:rgba(221, 8, 8, 1);
  padding-left: 11%;
  font-weight: bolder;
}
